*{
    left: 0px;
    top: 0px;
    margin: 0px;
    color: red;
}

.header {
    width: 100%;
    height: 150px;
    background-color: black;
}

.sideBar{
    width: 200px;
    height: 100%;
    background-color: darkblue;
    position: fixed;
    
} 

.headerSideBar {
    color: khaki;
    font-weight: 900;
    font-size: 2em;
    font-family: helvetica;
    width: 100%;
    text-align: right;
    padding-right: 10px;
    cursor: pointer;
    height: 80px;
}

.open {
    color: gray;
    font-weight: 900;
    right: 0px;
    text-align: right;
    width: 90%;
    padding-top: 30px;
    cursor: pointer;
    display: none;
}

.button {
    margin: 15px auto;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
margin: 5px;
}

.span {
    border: 1px solid black;
    width: 90%;
    height: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
}
.curriculo {
    color: white;
    font-family: fantasy;
    padding: 5px;
    
}

.input {
border: 2px solid black;
    border-right: 5px;
   margin: 5px;
}
